<mab-card-drag-list>
  <mab-dashboard-card>
    <div card-action>
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <div card-title>
      Card Title 1
    </div>
    <div card-subtitle>
      Card Description
    </div>
    <div post-title><button mat-flat-button><h2>Done</h2></button></div>
    <div card-content>
      <p>
        Table Content goes here
      </p>
    </div>
  </mab-dashboard-card>
  <mab-dashboard-card>
    <div card-action>
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <div card-title>
      Card Title 2
    </div>
    <div card-subtitle>
      Card Description
    </div>
    <div post-title><button mat-flat-button><h2>Edit</h2></button></div>
    <div card-content>
      <p>
        Table Content goes here
      </p>
    </div>
  </mab-dashboard-card>
  <mab-dashboard-card>
    <div card-action>
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <div card-title>
      Card Title 3
    </div>
    <div card-subtitle>
      Card Description
    </div>
    <div post-title><button mat-flat-button><h2>Edit</h2></button></div>
    <div card-content>
      <p>
        Table Content goes here
      </p>
    </div>
  </mab-dashboard-card>
</mab-card-drag-list>
